<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python_App</title>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 20px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h1 {
        text-transform: uppercase;
      }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hello World! </h1>
        <img src="{{url}}" />
        <p><small>Developed By: <a href="https://in.linkedin.com/in/nirdeshkumar02"> Nirdesh Kumar Saini </a></small></p>
    </div>
  </body>
</html>
